body {
    background-color: rgb(173, 205, 219);
}

.content {
    text-align: center;
    width: 50%;
    display: block;
    margin: 0 auto;
}

.button {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}